# registry=http://tcitds920p:13000/api/packages/TCIT_Frontend/npm/
# //tcitds920p:13000/api/packages/TCIT_Frontend/npm/:_authToken=714f43fc18fd6dfa4346cbaa95fd30ea19b3c06c

@andy:registry=http://tcitds920p:13000/api/packages/TCIT_Frontend/npm/
//tcitds920p:13000/api/packages/TCIT_Frontend/npm/:_authToken=714f43fc18fd6dfa4346cbaa95fd30ea19b3c06c
